.sidebar_ri {
    position: fixed;
    background-color: #21263C;
    height: 100vh;
    top: 0;
    left: 0;
    width: 220px;
}

.logo_ri {
    background: #181C2E 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 12px #0000000D;
    padding: 10px;
}

.header_ri {
    background-color: #fff;
    box-shadow: 0px 4px 12px #0000001A;
    padding: 10px;
    margin-left: 220px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.user_ri {
    box-shadow: 0px 0px 6px #00000029;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 8px;
}

.content-wrapper {
    margin-left: 220px;
    padding: 10px;
}

.content {
    box-shadow: 0px 1px 8px #00000014;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    padding: 10px;
    background-color: #fff;
    min-height: calc(100vh - 130px);
}

.heding_ri {
    font-size: 18px !important;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}